
h3 {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;

    li {
        display: flex;
        justify-content: space-between;
        &.list-group-item-success {
            color: rgb(53, 53, 53);
            background-color: rgb(110, 212, 136);
        }
    }

}