<section class="login">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4" [formGroup]="loginForm">
                <h1 class="text-center">INVITE</h1>
                <h3 class="text-center">Invitaciones Online</h3>
                <input type="text" class="form-control" formControlName="email" placeholder="Email">
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <button class="btn btn-primary" (click)="onSubmit()">Entrar</button>
            </div>
        </div>
    </div>
</section>