footer {
    padding: 20px 0;
    text-align: center;
    color: rgba(255,255,255,.3);
    background-color: #222;

    p {
        font-size: 12px;
        margin-bottom: 0;
    }

    a {
        color: #e6e6e6;
        font-size: 12px;
    }
}