<div class="summary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>RESUMEN DE CUENTA</h2>

                <h5>INVITADOS</h5>
                <p>Total de invitados:</p>
                <p>Confirmados:</p>
                <p>Sin confirmar:</p>
            
                <h5>REGALOS</h5>
                <p>Numero de regalos:</p>
                <p>Regalos recibidos hasta el momento:</p>
            </div>
        </div>
    </div>


</div>