<div class="container guest">
    <div class="row">
      <div class="col-12">
        <h3>MI LISTA DE INVITADOS</h3>
        <button type="button" class="btn btn-primary" (click)="add()" data-toggle="modal" data-target="#addEditModal">
          Agregar Invitado
        </button>

        <app-add-edit-modal [guests]="guestEdit" (submitGuest)="submitGuest($event)"></app-add-edit-modal>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="guests && guests.length == 0 else showTable" class="alert alert-warning" role="alert">
          Todavia no agregaste ningun invitado, para agregar uno presiona el boton Agregar Invitado
        </div>
      </div>

      <ng-template #showTable>
          <div class="header-guest " style="display:none">
            <div>TOTAL INVITADOS:  {{ totalGuest }}</div>
            <div>CONFIRMADOS: {{ confirmGuest }}</div>
            <div>SIN CONFIRMAR: {{ noConfirmGuest }}</div>
          </div>

          <div>
            <ul class="list-group">
              <li class="list-group-item" [ngClass]="{'list-group-item-success': guest.confirmed}" *ngFor="let guest of guests; let i = index">
                <div>
                  <div><h3>{{ guest.description }}</h3></div>
                  <div>Invitados: {{ guest.cant }}</div>
                  <div>Confirmados: {{ guest.cantConfirmed }}</div>
                  <div>Confirmas: {{ guest.confirmed ? 'Si' : 'No'  }}</div>
                </div>
                <div>
                  <button class="btn btn-warning" data-toggle="modal" (click)="edit(i)" data-toggle="modal" data-target="#addEditModal"><i class="fas fa-pencil-alt"></i></button>
                  <button class="btn btn-danger" data-toggle="modal" (click)="delete(i)" data-target="#confirmModal"><i class="fas fa-trash-alt"></i></button>
                </div>
              </li>
            </ul>
          </div>
          
      </ng-template>

      <app-confirm-modal [message]="messageConfirm" (confirm)="confirmationModal($event)"></app-confirm-modal>
</div>
