<div class="container guest">
    <div class="row">
      <div class="col-12">

        <button type="button" class="btn btn-primary" (click)="add()" data-toggle="modal" data-target="#addEditModal">
          Agregar Invitado
        </button>

        <app-add-edit-modal [guests]="guestEdit" (submitGuest)="submitGuest($event)"></app-add-edit-modal>
      </div>
    </div>
    <div class="row header-guest">
      <div class="col-4">
        TOTAL INVITADOS:  {{ totalGuest }}
      </div>
      <div class="col-4">
        CONFIRMADOS: {{ confirmGuest }}
      </div>
      <div class="col-4">
        SIN CONFIRMAR: {{ noConfirmGuest }}
      </div>
    </div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Invitados</th>
        <th>Cantidad</th>
        <th>Confirmado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests; let i = index">
        <td>{{ guest.description }}</td>
        <td>{{ guest.cant }}</td>
        <td>{{ guest.confirmed }}</td>
        <td>
          <button class="btn" data-toggle="modal" (click)="edit(i)" data-toggle="modal" data-target="#addEditModal">Editar</button>
          <button class="btn" data-toggle="modal" (click)="delete(i)" data-target="#confirmModal">Eliminar</button>
        </td>
        </tr> 
    </tbody>
  </table>

  <app-confirm-modal [message]="messageConfirm" (confirm)="confirmationModal($event)"></app-confirm-modal>

</div>
